@mixin before_cricle {
    &::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $main-color;
        z-index: -1;
        top: -25%;
        left: 0;
    }
}

@mixin before_cricle_little {
    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $main-color;
        z-index: -1;
        top: 3px;
        left: 0px;
    }
}