.btn {
    height: 45px;
    background-color: $main-color;
    box-shadow: 4px 4px 14px 0px rgba(255, 255, 255, 0.2);
    padding: 10px 25px;
    transition: all .5s;

    &:hover {
        transform: scale(1.1);
        border-radius: 10px;
    }
}